{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": ["import"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "DEV": false,
    "PROD": false,
    "NAME": false,
    "VERSION": false
  },
  "rules": {
    "no-unused-expressions": 0,
    "object-curly-spacing": [2, "never"],
    "key-spacing": [2, {"mode": "minimum"}],
    "jsx-quotes": [1, "prefer-single"],
    "prefer-const": 1,
    "max-len": [1, 80, 2],
    "complexity": [1, 4],
    "max-depth": [1, 4],
    "max-nested-callbacks": [1, 4],
    "max-params": [1, 4],
    "max-statements": [1, 25],
    "react/no-multi-comp": 0
  }
}
